*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    font-family: "Roboto", serif;
}
:root{
    --bg-color: #fff;
    --text-color: #fff;
    --main-color: #ae8957;

    --big-font: 6.6rem;
    --p-font: 1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-);

}

header{
    position: fixed;
    width: 100%;
    top:0;
    right: 40px;;
    z-index: index 1000;
    padding: 35px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color); 
    text-transform: uppercase;
    letter-spacing: 4px;
}
.navlist{
    display: flex;
}
.navlist a{
display: inline-block;
margin: 0 35px;
color: var(--text-color);
font-size: var(--p-font);
transition: all .6s ease;

}
.navlist a:hover{
    color:var(--main-color)

}
.no-background {
    background-image: none; 
    background-color: transparent;
}

section{
    padding: 0 14%;
    margin-right: 60px;
}
.hero {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 60px 20px; 
   
    height: 100vh;
}


.hero-text {
    max-width: 600px;
    padding: 20px;
}

.hero-text h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px; 
}

.hero-text p {
    font-size: var(--p-font); 
    line-height: 32px; 
    color: #b5acac;
    font-weight: 400;
    width: 100%;
}

body {
            
   background-color: rgb(3, 3, 3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 40px;
}

.icons {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.icon {
    color: var(--text-color); 
    font-size: 2rem; 
    transition: color 0.3s ease; 
}

.icon:hover {
    color: var(--main-color);}

 footer {
            background-color: #222; 
            color: #fff; 
            padding: 40px 10%;
            text-align: center;
        }
 .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

.footer-content p {
            font-size: 1rem;
            margin-bottom: 20px;
        }

        
.footer-icons {
            display: flex;
            justify-content: center;
            gap: 15px;
        }

.footer-icons .icon {
            color: #fff; 
            font-size: 2rem;
            transition: color 0.3s ease;
        }

       
.footer-icons .icon:hover {
            color: #ae8957;
        }
  